@use "variables";

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--gradient);
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;

  canvas {
    outline: none;
  }
}

.lil-gui.root {
  --width: 300px;

  @media (max-width: 767px) {
    --width: 200px;
    --name-width: 25%;
  }
}
